body {
    background: $background-color;
    color: $text-color;
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: 1.6;
    margin: 0;
    padding: $spacing-unit;
}

h1 {
    font-size: $large-font-size;
    font-weight: 800;
    margin: $spacing-unit * 2 0;
}

h2 {
    color: $accent-color;
    font-size: $medium-font-size;
    font-family: $mono-font-family;
}

a {
    color: $accent-color;
    text-decoration: none;
    
    &:hover {
        text-decoration: underline;
    }
}