// .button {
//     background: $accent-color;
//     color: $text-color;
//     padding: $spacing-unit $spacing-unit * 2;
//     border-radius: $border-radius;
//     display: inline-block;
//     margin: $spacing-unit 0;
//     font-family: $mono-font-family;
//     border: none;
//     cursor: pointer;
//     transition: background 0.3s ease;
    
//     &:hover {
//         background: darken($accent-color, 10%);
//         text-decoration: none;
//     }
// }

// .code-preview {
//     @extend .highlight;
//     font-family: $font-family-code;
//     //color: $secondary-text;
//     margin: $spacing-unit * 2 0;
//     padding: $spacing-unit;
//     background: darken($background-color, 3%);
//     border-radius: $spacing-unit;
//     overflow-x: auto;
//     white-space: pre;           // Preserves whitespace and line breaks
//     word-wrap: normal;          // Prevents text wrapping
//     -webkit-overflow-scrolling: touch; // Smooth scrolling on iOS
//     max-width: 100%;            // Ensures container doesn't overflow its parent
// }

// .project-card {
//     background: darken($background-color, 5%);
//     padding: $spacing-unit;
//     margin: $spacing-unit 0;
//     border-radius: $spacing-unit;
    
//     h3 {
//         margin-top: 0;
//         color: $accent-color;
//     }
// }

// Post list styles
.post-list {
    list-style: none;
    padding: 0;
  
    li {
      margin-bottom: 1.5rem;
    }
  
    h3 {
      margin-bottom: 0.3em;
    }
  
    .post-meta {
      font-size: 0.9em;
      color: $text-color-muted;
    }
  
    .post-excerpt {
      margin-top: 0.5em;
    }
  }
  
// Project grid styles
.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
  }

// Project card styles
.project-card {
    border: 1px solid $border-color;
    padding: 1rem;
    border-radius: 28px;
    background-color: $card-background;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    }
  
    h3 {
      margin-top: 0;
      margin-bottom: 0;
    }
  
    p {
      margin-bottom: 0;
    }
  }