// Header styles
header {
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid $border-color;
  
    h1 {
      margin-top: 0;
    }
  }
  
  // Navigation styles
  // nav {
  //   position: sticky;
  //   top: 0;
  //   z-index: 1000; // Keeps it above other content if needed
  //   a {
  //     margin-right: 1rem;
  //     color: $text-color;
  //     font-weight: bold;
  
  //     &:hover {
  //       color: $link-hover-color;
  //     }
  //   }
  // }

header.nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: $background-color;
  width: 100%;

  nav {
    a {
      margin-right: 1rem;
      color: $text-color;
      font-weight: bold;

      &:hover {
        color: $link-hover-color;
      }
    }
  }
}



// Footer styles
footer {
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 1px solid $border-color;
    text-align: center;
    font-size: 0.9em;
    color: $text-color-muted;
  }