.highlight-github table td { padding: 5px; }
.highlight-github table pre { margin: 0; }
.highlight-github, .highlight-github .w {
  color: #24292f;
  background-color: #f2e9da;
}
.highlight-github .k, .highlight-github .kd, .highlight-github .kn, .highlight-github .kp, .highlight-github .kr, .highlight-github .kt, .highlight-github .kv {
  color: #cf222e;
}
.highlight-github .gr {
  color: #f6f8fa;
}
.highlight-github .gd {
  color: #82071e;
  background-color: #ffebe9;
}
.highlight-github .nb {
  color: #953800;
}
.highlight-github .nc {
  color: #953800;
}
.highlight-github .no {
  color: #953800;
}
.highlight-github .nn {
  color: #953800;
}
.highlight-github .sr {
  color: #116329;
}
.highlight-github .na {
  color: #116329;
}
.highlight-github .nt {
  color: #116329;
}
.highlight-github .gi {
  color: #116329;
  background-color: #dafbe1;
}
.highlight-github .ges {
  font-weight: bold;
  font-style: italic;
}
.highlight-github .kc {
  color: #0550ae;
}
.highlight-github .l, .highlight-github .ld, .highlight-github .m, .highlight-github .mb, .highlight-github .mf, .highlight-github .mh, .highlight-github .mi, .highlight-github .il, .highlight-github .mo, .highlight-github .mx {
  color: #0550ae;
}
.highlight-github .sb {
  color: #0550ae;
}
.highlight-github .bp {
  color: #0550ae;
}
.highlight-github .ne {
  color: #0550ae;
}
.highlight-github .nl {
  color: #0550ae;
}
.highlight-github .py {
  color: #0550ae;
}
.highlight-github .nv, .highlight-github .vc, .highlight-github .vg, .highlight-github .vi, .highlight-github .vm {
  color: #0550ae;
}
.highlight-github .o, .highlight-github .ow {
  color: #0550ae;
}
.highlight-github .gh {
  color: #0550ae;
  font-weight: bold;
}
.highlight-github .gu {
  color: #0550ae;
  font-weight: bold;
}
.highlight-github .s, .highlight-github .sa, .highlight-github .sc, .highlight-github .dl, .highlight-github .sd, .highlight-github .s2, .highlight-github .se, .highlight-github .sh, .highlight-github .sx, .highlight-github .s1, .highlight-github .ss {
  color: #0a3069;
}
.highlight-github .nd {
  color: #8250df;
}
.highlight-github .nf, .highlight-github .fm {
  color: #8250df;
}
.highlight-github .err {
  color: #f6f8fa;
  background-color: #82071e;
}
.highlight-github .c, .highlight-github .ch, .highlight-github .cd, .highlight-github .cm, .highlight-github .cp, .highlight-github .cpf, .highlight-github .c1, .highlight-github .cs {
  color: #6e7781;
}
.highlight-github .gl {
  color: #6e7781;
}
.highlight-github .gt {
  color: #6e7781;
}
.highlight-github .ni {
  color: #24292f;
}
.highlight-github .si {
  color: #24292f;
}
.highlight-github .ge {
  color: #24292f;
  font-style: italic;
}
.highlight-github .gs {
  color: #24292f;
  font-weight: bold;
}
