---
layout: default
---

{% assign project_base = page.url | split: '/' | slice: 0, 3 | join: '/' %}
{% assign current_project = site.pages | where: "url", project_base | first %}

<header>
<h1>{{ page.project_title }}</h1>
<h3>{{ page.description }}</h3>

{% if page.github %}
<p><a href="{{ page.github }}" class="github-link">View on GitHub</a></p>
{% endif %}

<div class="breadcrumbs">
  <code>
  <em>
  <a href="/">Home</a> /
  <a href="/projects">Projects</a> /
  {% if page.url == project_base %}
  {{ page.nav_title }}
  {% else %}
  <a href="{{ project_base }}">{{ page.project_title }}</a> / {{ page.nav_title }}
  {% endif %}
  </em>
  </code>
</div>

{% assign project_pages = site.pages | where_exp: "item", "item.url contains project_base" | sort: "order" %}
</header>
<nav class="project-nav">
  <ul>
    {% for p in project_pages %}
    <li {% if p.url==page.url %}class="active" {% endif %}>
      <a href="{{ p.url | relative_url }}">{{ p.title }}</a>
    </li>
    {% endfor %}
  </ul>
</nav>

{{ content }}

<!-- <div class="pagination">
  {% for p in project_pages %}
    {% if p.url == page.url %}
      {% assign index = forloop.index0 %}
      {% assign prev_index = index | minus: 1 %}
      {% assign next_index = index | plus: 1 %}
      
      {% if prev_index >= 0 %}
        <a href="{{ project_pages[prev_index].url | relative_url }}" class="prev">← {{ project_pages[prev_index].title }}</a>
      {% endif %}
      
      {% if next_index < project_pages.size %}
        <a href="{{ project_pages[next_index].url | relative_url }}" class="next">{{ project_pages[next_index].title }} →</a>
      {% endif %}
      
      {% break %}
    {% endif %}
  {% endfor %}
</div> -->